@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

html,
body {
    width: 100%;
    height: 100%;
    font-family:  sans-serif, "Nanum Gothic";
    font-weight: 100;
}

a {
    color: #3fb0ac;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #173e43;
}

p, li {
    font-size: 17px;
    line-height: 1.80;
}

h1 {
    font-weight: 300;
    font-size: 60px; 
    font-family: serif;
 }

h2 { 
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: serif;
 }

 h3 {
/*    font-size: 20px; 
    font-weight: 100;*/
 }

 h4 {
    margin-top: 40px;
    font-size: 25px; 
    font-weight: 100;
 }

 h5 {
    font-size: 20px;
    font-weight: 300;
 }

header {
    background-color: #fafbfc;
    border-bottom: 1px #e1e4e8 solid;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: auto;
    text-align: center;
    color: #000;
    
}

.main_header {
  background: 
    linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/main_resized.jpg") no-repeat center center fixed
    ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;

}

.tutoring_header {
  background: linear-gradient(
            rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        url("../images/tutoring.jpg")
    ;
/*  background-position: 0px -350px;
*/  background-size: auto;
}
.ecd_header {
 background: linear-gradient(
            rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        url("../images/tutoring.jpg")
    ;
  background-size: 100% 100%;
}
.tour_header {
  background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/dunster.jpg")
    ;
  background-size: 100% 100%;
}
.camp_header {
  height: 100%;
  width: 100%;

/*  background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/bridge.jpg")
    ;
  background-size: 100% 100%;*/
}
.camp_section {
  height: 100%;
  background:#efefef;

}

.studyabroad_header {
  background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/boston.jpg")
    ;
  background-size: 100% 100%;
}
.testprep_header {
  background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/test.jpg")
    ;
  background-size: 100% 100%;
}
.extracurricular_header {
   background: linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/sports.jpg")
    ;
  background-size: 100% 100%;
}
.counseling_header {
  background: linear-gradient(
            rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        url("../images/harvard.jpg")
    ;
  background-size: 100% 100%;
}

.service_section {
  background-color: #f2f2f2;
}
.service_txt {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

.service_txt p {
  font-size: 20px;
  padding-top: 20px;
}
.learn_more {
  text-decoration: underline;
  color: #0366d6;
}
.svc {
  padding-left: 100px; 
  padding-right: 100px;
  text-align: left;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 50px;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    color: rgba(255,255,255,.7);
}

@media screen and (max-width: 768px) {
  header {
    min-height: 80%;
  }

  header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
  }

  header h1 {
      font-size: 35px;
  }

  header h2 { 
      font-size: 20px;
  }
}

@media(min-width:768px) {
    header {
        min-height: 80%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}
 
.header-content-inner h2 { 
    color: gray;
 }

.section-heading {
    margin-top: 0;
    margin-bottom: 40px;
}

.intro {
    background-color: #efefef;
    padding: 25px;
/*    padding-left: 100px;
    padding-right: 100px;*/
}
.intro h2 {
  text-align: center;
}
 .intro p { 
    font-size: 19px;
    padding: 20px 125px 0px 125px;
    text-align: left;
  }

  .about_image {
    height: 250px; 
    width: 200px; 
    border-radius: 75%;
}
.panel-1 {
  border-right: solid 2px #0366d6; 

}
.hiw {
  text-align: center; 
  padding: 25px; 
  height: 300px;
}

.content {
    padding: 25px; 
    text-align: center; 
}

.content-1 {
    background-color: #fafbfc;
      background: 
    linear-gradient(
            rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../images/main_resized.jpg") no-repeat center center fixed
    ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

/*    background: linear-gradient(to right, #216DBF 0%, #257CD9 70%);
    color: #fff;*/
}

.content p { 
/*    color: #fff;;
*/}


/*h3::after { 
    content: " "; 
    border: solid 2px #00B386; 
    display: block; 
    width: 35px; 
    margin: 25px auto; 
}*/

.experience::after {
    content: " "; 
    border: solid 2px #216dbf; 
    display: block; 
    width: 35px; 
    margin: 25px auto; 
}

.content-2 {
    color: #fff;
    background: linear-gradient(to right, #00B386 0%, #0c9 70%);
    margin-bottom: -100px;
}

.content-2.row.left, .data_pic, .col-sm-6.text
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.content-2 h5 {
  font-size: 25px;
  color: #216DBF;
}

.content-2 p {
  font-size: 16px;
  color: #fff;
}

.row.left {
  text-align: left;
  padding-top: 175px;
  vertical-align: middle;
}

.data_icons { 
    height: 60px; 
    width: 60px; 
    line-height: 60px; 
    max-width: 100%; 
    background: #6496c8; 
    border-radius: 50%; 
    -o-border-radius: 50%; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    display: inline-block; 
    color: #fff;
    font-size: 25px; 
    text-align: center; 
    position: relative; 
    margin-right: 20px; 
 }

.data_pic {
    width: 100%;
    padding-bottom: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {

  .content-2.row.left, .data_pic, .col-sm-6.text{
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }

  .content-2 h5 {
    font-size: 20px;
    color: #216DBF;
  }

  .data_icons { 
    height: 50px; 
    width: 50px; 
    line-height: 50px; 
    font-size: 20px;
 }

}

.content-3 {
	padding: 20px 0 40px;
	text-align: center;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('../images/writing.jpg');
	}
	
.item-2 {
	background: url('../images/concert.jpg');
	}
	
.item-3 {
	background: url('../images/pencil_sharpener.jpg');
	}
		
.item-1,
.item-2,
.item-3 {
	background-size: cover;
	background-position: 50% 50%;
	}

.page-footer {
	text-align: center;
	}

.page-footer .contact {
	padding: 100px 0;
  background-color: rgb(40,120,134);
	color: white;
	}

.page-footer .contact p {
	font-size: 20px;
	}
	
.content-3 .glyphicon,	
.page-footer .contact .glyphicon {
	font-size: 32px;
	}
		
.page-footer .small-print {
	padding: 50px 0 40px;
	}

.text-light {
    color: rgba(255,255,255,.7);
}

.navbar-default {
    border-color: #d9d9d9;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-weight: 400;
    font-size: 18px;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #000;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #0366d6;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #0366d6;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: #d9d9d9;
        background-color: transparent;
        font-weight: 400;
    }
    .navbar-default .nav > li.active>a,
    .navbar-default .nav>li.active>a:focus {
        color: gray;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: gray;
    }

    .navbar-default.affix {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }
    .camp_nav {
      border-color: #4A4A4A;
    }

    .camp_nav .nav > li > a, .navbar-default.affix .nav > li>a,
    .camp_nav .nav > li > a:focus, .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .camp_nav .nav > li.active>a, .navbar-default.affix .nav > li.active>a,
    .camp_nav .nav>li.active>a:focus, .navbar-default.affix .nav>li.active>a:focus {
        color: #0366d6;
        background-color: transparent;
    }

    .camp_nav .nav >li>a:hover,.navbar-default.affix .nav > li>a:hover,
    .camp_nav .nav>li>a:focus:hover, .navbar-default.affix .nav>li>a:focus:hover {
        color: #0366d6;
    }
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #377bc5;
    color: #fff;
    background-color: #377bc5;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #174c85;
    color: #fff;
    background-color: #174c85;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: yellowgreen;
    background-color: yellowgreen;
}

.btn-primary .badge {
    color: yellowgreen;
    background-color: #fff;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

@media (max-width: 768px) {
  .btn-lg { 
      padding: 10px 20px;
      font-size: 12px;
   }
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: yellowgreen;
}

.bg-primary {
    background-color: yellowgreen;
}


body::after, body::before {
  /* these are the 2 half blocks which cover the content once the animation is triggered */
  height: 50vh;
  width: 100%;
  position: fixed;
  left: 0;
}
body::before {
  top: 0;
  transform: translateY(-100%);
}
body::after {
  bottom: 0;
  transform: translateY(100%);
}
body.page-is-changing::after, body.page-is-changing::before {
  transform: translateY(0);
}

.cd-loading-bar {
  /* this is the loading bar - visible while switching from one page to the following one */
  position: fixed;
  height: 2px;
  width: 90%;
}
.cd-loading-bar::before {
  /* this is the progress bar inside the loading bar */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.page-is-changing .cd-loading-bar::before {
  transform: scaleX(1);
}
.button-left {
    margin-left: 45px;
}
.service {
    transition: all 0.2s ease-in-out;
    padding: 20px;    
    height: 200px;
    min-width: 300px;
    border-radius: 6px !important;
}
.service:hover {
  cursor: pointer;
}
.wrapper {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.service:hover {
    box-shadow: 4px 8px 10px rgba(255,255,255, .40);
    transform: scale(1.05);
}
.service_text {
    text-align: left;
}
.service_title {
  color: #0366d6;
  font-size: 20px;
  font-weight: 400;
}
.service_images {
    width: 100px; 
    height: 100px;
    min-width: 100px;
    min-height: 100px; 
    margin-right: 15px;
    line-height: 100px; 
    max-width: 100%; 
    background: #0366d6; 
    border-radius: 50%; 
    -o-border-radius: 50%; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    color: #fff; 
    font-size: 30px; 
    text-align: center; 
    float: left;
}
.service_helper {
    display: inline-block; 
    height: 100%; 
    vertical-align: middle; 
    float: left;
}
.top_buffer {
    margin-top: 30px;
}
#header_buttons > a{
  color: #fff;
  background-color: #0366d6;
  text-shadow: -1px 1px #0853a0;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 450;
  line-height: 1.3333333;
  border-radius: 6px;
  text-decoration: none;
}

#header_buttons > a:hover {
  background-color: #0853a0;
  text-shadow: -1px 1px #27496d;
  text-decoration: none;
}

#header_buttons > a:active{
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
  text-decoration: none;
}
.parent {
  position: relative;
  height: 100%;
}
.child {
  width: 100%;
  position: absolute; 
  left: 50%; 
  top: 15%;
  transform: translate(-50%);
  text-align: center;
  background:#efefef;
}
.child > .glyphicon {
  float: none;
}
.logo {
  font-size: 26px; 
  color: #0366d6 !important;
}
.section2 {
  color: white; 
  font-size: 37px;
}
.section2::after {
    content: " "; 
    border: solid 4px  #0366d6; 
    display: block; 
    width: 45px; 
    margin: 25px auto; 
}
.img_box {
  max-width: 980px; 
  max-height: 600px;
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  /*background-image: url(../images/bridge.jpg);
  background-repeat: no-repeat;
  background-size: contain;*/
}
.img_text {
    display: inline-block;
    max-width: 980px ;
    width: auto;
    margin-bottom: 50px;
/*    text-align: center;
*/}
